<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{$name}</title>
        <link rel="icon" href="/img/logo.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <a href="https://www.hubstr.xyz/relay/"><img class="logo" src="/img/logo.svg" alt="{$name}" width="80" height="80"></a>
        <h1><a href="https://www.hubstr.xyz/relay/">{$name}</a></h1>
        <p class="pubkey">{$owner_npub}</p>
        <p>{$version}</p>
    </body>
</html>
